@model List<ClassRoomListViewModel>

<partial name="_PartialNavbar"></partial>
<div class="row">
	<partial class="col-2" name="_PartialSlidebar"></partial>
	<div class="col-9 mt-3">
		<ul class="nav justify-content-end">
			@if (User.IsAdmin())
			{
				<li class="nav-item">
					<a class="btn btn-success mb-2" asp-area="Admin" asp-controller="ClassRoom" asp-action="AddClassRoom">Sınıf Ekle</a>
				</li>
			}
			

		</ul>

		<table class="table table-hover mt-3" id="classRoomList">
			<thead class="table-info  mb-1">
				<tr>
					<th>Başlık</th>
					<th></th>
					@if (User.IsAdmin())
					{
						<th>Aksiyon</th>
					}
				
				</tr>
			</thead>

			<tbody>
				@foreach (var classRoom in Model)
				{

						<tr>
						<td>@classRoom.Name  </td>
						<td><a asp-area="Admin" asp-controller="ClassRoom" asp-action="Index" asp-route-id="@classRoom.Id" class="btn btn-primary btn-sm btn-rounded">Sınıf Ataması</a></td>
							@if (User.IsAdmin())
						{
								<td>
								<a asp-area="Admin" asp-controller="ClassRoom" asp-action="EditClassRoom" asp-route-id="@classRoom.Id" class="btn btn-warning btn-sm btn-rounded">Düzenle</a>
							<a asp-area="Admin" asp-controller="ClassRoom" asp-action="DeleteClassRoom" data-id="@classRoom.Id" class="btn btn-danger btn-sm btn-rounded delete">Sil</a>
							</td>
						}
						
						</tr>
				}


			</tbody>

		</table>


	</div>
</div>
@section Scripts
	{
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.13.1/b-2.3.2/sl-1.5.0/datatables.min.js"></script>


		<script>

			/* Initialization of datatable */
			$(document).ready(function() {
				$('#classRoomList').DataTable({ 
					pageLength: 10,
					language: {
						url: '//cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json',
					}
				});
			});


			$('#classRoomList .delete').click(function (e) {
				e.preventDefault(); 
				var classRoomId = $(this).data('id'); 
				Swal.fire({
					title: 'Emin misin?',
					text: "Dikkat! Ürün Silinecektir.",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Onaylıyorum.',
					cancelButtonText: "İptal"
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
						url: '/admin/classroom/DeleteClassRoom/' + classRoomId,
							method: "GET"
						}).done(function () {
							Swal.fire(
								'Silindi!',
								'Ürün Başarıyla Silindi.',
								'success'
							).then(() => { window.location.reload() });
						}).fail(function () {
							Swal.fire(
								'Hata!',
								'Bir hata oluştu, ürün silinemedi.'
							)
						});
					}
				})
			})

		</script>
}
