@model PasswordEditViewModel
<partial name="_PartialNavbar"></partial>
<div class="row">

		<partial class="col-2" name="_PartialSlidebar"></partial>

	<div class="container mt-4 col-9">
		<div class="d-flex align-content-center flex-wrap justify-content-center" style="height:70vh;">
			<form method="post" asp-action="EditPassword" asp-controller="Account">
				<h2>Şifre Güncelleme Sayfası</h2>
				<div class="form-group">
					<label asp-for="Password"></label>
					<input type="password" asp-for="Password" class="form-control mb-2" />
					<span class="text-danger fw-bold" asp-validation-for="Password"></span>
				</div>

				<div class="form-group">
					<label asp-for="PasswordConfirm"></label>
					<input type="password" asp-for="PasswordConfirm" class="form-control mb-2" />
					<span class="text-danger fw-bold" asp-validation-for="PasswordConfirm"></span>
				</div>

				<button type="submit" class="btn btn-success form-control">Güncelle</button>
			</form>
		</div>
	</div>
</div>


